html, body {
	height: 100%;
	overflow: hidden;
	width: 100%;
}

#map {
	height: 100%;
	width: 100%;
}

.navbar {
	margin-bottom: 0;
}

.dropdown {
	cursor: pointer;
}

#loader {
	width: 100%;
	height: 100%;
	display: block;
}

#form_div {
	position: absolute;
	right: 20px;
	top: 13px;
}

#search_input {
	width: 450px;
}

.ui-menu {
	width: 450px;
}

@media (max-width: 800px) {
	#search_input {
	width: 300px;
	}

	.ui-menu {
		width: 300px;
	}
}

@media (min-width: 1500px) {
	#search_input {
	width: 600px;
	}
}