html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#map {
	height: 100%;
	width: 100%;
}

#infopanel {
	background-color: #fff;
	width: 2%;
	height: 100%;
}

.nav-elem{
	margin: 1em;
	float: right;
}