html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#map {
	height: 100%;
	width: 100%;
	z-index: 0;
}

#infopanel {
	position: absolute;
	right: 0;
	z-index: 1;
	background-color: red;
	width: 10%;
	height: 100%;
}

.nav-elem{
	margin: 1em;
	float: right;
}